/* general settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-blu {
    color: #315bfe;
}

button {
    border: none;
    padding: 10px 40px;
    color: #fff;
    background-color: #315bfe;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    opacity: 0.7;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Header */

nav {
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
}

nav div{
    height: 100%;
    display: flex;
    align-items: center;
}

nav div:hover{
    border-bottom: 2px solid gray;
    cursor: pointer;
}

/* jumbo settings */
.jumbotrone {
    position: relative;
    background-color: #b6cfe7;
    padding: 0 20%;
    border: 1px solid rgba(0, 0, 255, 0);
}

.jumbo-container {
    margin-top: 100px;
    max-width: 100%;
}

.jumbo-contained {
    width: 30%;
    float: left;
}

.jumbotrone img {
    max-width: 70%;
    position: relative;
    top: 70px;
}

.jumbotrone h1{
    font-size: 60px;
    font-weight: 900;
    margin: 30px 0;
}

p, .jumbotrone button {
    margin: 20px 0;
}

.jumbotrone .icon {
    font-size: 50px; 
    position: absolute;
    bottom: 0;
    left: 20%;
}


/* main */

main{
    margin-top: 100px;
}

main section {
    margin: 5% 20%;
}

/* chek */
.check-box {
    margin: 30px 0;
    line-height: 20px;
    
}

.check:hover {
    border: solid #315bfe 5px;
    cursor: pointer;
}

.check {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid gray;
    display: inline-block;
    transition: all 0.5s;
}

/* row one */
.row-plane-one {    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col-plane {
    border: 1px solid gray;
    width: 28%;
}


.type-plane {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.col-plane > ul {
    /* border-bottom: 1px solid gray; */
    margin: 20px 20px;
}

main li {
    margin: 20px 0;
    display: flex;
}


.mounth {
    color: gray;
}

/* WAIT A SECC */
.row-plane-two{
    width: 100%;
    border: 1px solid gray;
}

.row-plane-two div:first-child {
    border-bottom: 1px solid gray;
}

.row-plane-two button {
    float: right;
}

.special-plane {
    margin: 40px;
}
.special-plane li{
    justify-content: space-between;
}

/* find partner sectioon */
.find-partner {
    display: flex;
}

.find-partner img {
    width: 100%;
}

.find-partner div {
    width: 50%;
}

.find-partner .text {
    padding: 40px;
    font-size: 22px;
}

.find-partner button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    font-size: 15px;
    padding: 10px 10px;
}


/* operation section */

.operation h1 {
    font-size: 40px;
}

.row-operation {
    display: flex;
    justify-content: space-between;
}

.col-operation {
    width: 30%;
    margin: 30px 0;
}

.col-operation img {
    width: 100%;
}

/* discover section */
.discover h1{
    margin-bottom: 30px;
}


/* sponsor section */
.sponsor {
    margin: 0;
}

.part-sponsor {
    display: flex;
    height: 500px;
}

.logo-part-sponsor, .text-part-sponsor {
    width: calc(100% / 3); 
    display: flex;
    flex-wrap: wrap;
}

.logo-part-sponsor div {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-one {
    background-color: #a2d39c;
    transition: all 0.5s;
}

.logo-one:hover {
    border: 15px solid #c3f6bc;
}

.logo-two {
    background-color: #600b2b;
    transition: all 0.5s;
}

.logo-two:hover {
    border: 15px solid #932e55;
}

.logo-three {
    background-color: #2691cd;
    transition: all 0.5s;
}

.logo-three:hover {
    border: 15px solid #5eb3e5;
}

.logo-four {
    background-color: #fc2823;
    transition: all 0.5s;
}
.logo-four:hover {
    border: 15px solid #ff726f;
}


.logo-five{
    background-color: #d21223;
    transition: all 0.5s;
}
.logo-five:hover {
    border: 15px solid #d7505c;
}

.logo-six {
    background-color: #b6cfe7;
    transition: all 0.5s;
}
.logo-six:hover {
    border: 15px solid #e2edf8;
}

.logo-seven {
    background-color: #1a2080;
    transition: all 0.5s;
}
.logo-seven:hover {
    border: 15px solid #3c429b;
}

.logo-eight {
    background-color: #fcda37;
    transition: all 0.5s;
}
.logo-eight:hover {
    border: 15px solid #ffec90;
}

.text-part-sponsor{
    padding: 40px;
    background-color: #f5f5f5;
}


.logo-part-sponsor svg {
    fill: #fff;
    max-width: 50%;
}

.text-part-sponsor svg {
    fill: #000;
    width: 50%;
}

#title-sponsor {
    height: fit-content;
}

#descript-sponsor{
    height: 200px;
    overflow: auto;
    border-top: 1px solid gray;
}


.try-free {
    background-color: #b6cfe7;
    padding: 100px 20%;
    display: flex;
    justify-content: space-between;
}

.try-free div:first-child {
    color: #600b2b;
    font-size: 40px;
    width: 70%;
}

.try-free div:last-child {
    width: 30%;
    text-align: right;
}

.try-free button {
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

/* faq section */
.faq h1 {
    line-height: 150px;
    font-size: 50px;
    border-bottom: 1px solid #9b9a9a;
}
.faq .request {
    line-height: 100px;
    font-weight: 700;
    border-bottom: 1px solid #9b9a9a;
    display: flex;
}

.request div:first-child {
    width: 90%;
}

.icon-request {
    width: 10%;
    text-align: center;
}

/* footer */
footer {
    color: #fff;
    background-color: black;
    padding: 50px 20%;
    font-size: 14px;
}

footer section:first-child {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

footer a {
    color: #fff;
    line-height: 300%;
}

footer h1 {
    line-height: 300%;
    font-size: 22px;
}

/* language */
.language {
    border-top: 1px solid #9b9a9a;
    margin-top: 20px;
    padding: 20px 5px;
}



/* DEBUG */

/* h1,h2,h3,h4 {
    border: 3px dotted orange;
}

i {
    border: 1px dotted fuchsia;
} */
/* header */

/* nav section {
    border: 1px dotted red;
} */

/* jumbo */

/* .jumbo-container {
    border: 2px dashed violet;
} */

/* main */
/* /* main section {
    height: 800px;
    border: 2px dotted yellow;
} */
/* 
section > div {
    border: dashed pink;
}


section img {
    border: 1px dashed pink;
}  */

/* plane  */
/* .col-plane li{
    border: 1px dotted goldenrod;
} */
/* operation section */
/* .row-operation {
    border: 2px dashed #00cf00;
}

.col-operation {
    border: 1px dotted #045700;
} */

/* sponsor section */
/* .part-sponsor {
    width: 100%;
    height: 400px;
}

.logo-part-sponsor, .text-part-sponsor {
    border: 3px solid blue;
    height: 100%;
}

.logo-part-sponsor div {
    border: #045700 dotted 3px;
    
} */


/* footer */
/* footer {
    height: 600px;
    border: 1px solid black;
} */



