/* general settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Header */

nav {
    background-color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* jumbo settings */
.jumbotrone {
    background-color: #b6cfe7;
    padding: 0 20%;
}

.jumbo-container {
    margin-top: 100px;
    max-width: 100%;
}

.jumbo-contained {
    width: 30%;
    float: left;
}

/* main */
main section {
    padding: 0 20%;
}

/* section one, row one */
.row-plane-one {    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col-plane {
    border: 1px solid gray;
    width: 28%;
}

.col-plane > div {
    border-bottom: 1px solid gray;
}

/* section one, row one */

.row-plane-two{
    width: 100%;
    border: 1px solid gray;
}

.row-plane-two div:first-child {
    border-bottom: 1px solid gray;
}

.row-plane-two button {
    float: right;
}


/* DEBUG */
/* header */

nav section {
    height: 100%;
    width: 30%;
    border: 1px dotted red;
}

/* jumbo */
.jumbotrone {
    border: 1px solid blue;

}

.jumbotrone img {
    max-width: 70%;
}

.jumbo-container {
    border: 2px dashed violet;
}

/* main */
section {
    height: 400px;
    border: 2px dotted yellow;
}


/* footer */
footer {
    height: 600px;
    border: 1px solid black;
}

